﻿@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="crudcontroller">
    <h3>Table of Users</h3>
    <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-edit class="myGrid">
        @*<p>{{ gridApi2.pagination.getPage() }}  {{ gridApi2.pagination.getTotalPages() }}</p>*@
    </div>
 

</div>